body{
background: url(../image/phon.jpg);
background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 110%;

}

main{
background: url(../image/map.png);
background-repeat: no-repeat;
position: absolute;
width: 800px;
height: 1000px;
background-size: 100%;
transform: rotate(-90deg);
}
.table{
background-color: white;
position: absolute;
width: 800px;
height: 100px;

}