{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bron</title>
    <link rel="stylesheet" href="{% static 'style/bron.css'%}">
</head>
<body>
<div id="overlay"><h1>YOU COOL!<br> <a href="{% url 'home' %}">HOME</a></h1></div>

<div id="hey"><div id="layer-up"></div></div>
<div id="layer-0">

	<div id="layer-1">
		<div id="layer-2">
			<div id="lines">
				<div id="layer-corner"></div>
			</div>
		</div>
	</div>
</div>

<div id="mtnZZZ"></div>

</body>
</html>