{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="home-title"><em>Всем привет</em>
    <span>GameGym это стильный, ни на что не похожий интерьер, крутая атмосфера, возможность вкусно перекусить во время игры и отличный сервис во всем.</span>
<span>Возможность прийти одному или командой. Буткемпы, стримерские<br>турниры разного уровня. Но самое главное, GameGym – это просто лучшее место для игры.
    <div class="appr">
                    <img src="{% static 'image/17az.gif' %}" alt="" class="img-cergay" align="right" vspace="5" hspace="5"/>
                </div>
    Place to play 24/7.</span>

    </h1>

            <div class="text-informations">

                <h2 class=""><em>Новый подход к киберспортивному пространству</em></h2>

            </div>


{% endblock content %}