{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
    <link rel="stylesheet" href="{% static 'style/info.css'%}">
</head>
<body>
<header>
    <div class="container"><h1>Правила компьютерного клуба
"GameGym"</h1><br></div>

</header>
<main>
<br>
1. Компьютерный клуб “Центр Киберспорта” является частным заведением, поэтому администрация вправе отказать в посещении клуба любому клиенту без объяснения причин отказа.<br>

2. Администрация клуба имеет право удалить клиента из клуба без возврата денег, при нарушении правил клуба.<br>

3. Клиент обязан оплатить услуги клуба авансом, согласно установленным расценок.<br>

4. Посетители в нетрезвом состоянии, в состоянии наркотического опьянения, а также в грязной одежде, либо распространяющие резкий запах не обслуживаются и удаляются из клуба.<br>

5. Детям до 18 лет разрешается посещать клуб с 9-00 до 22-00. При непредставлении документов (любой документ с фотокарточкой) о наличии 18 лет – клиент на ночь не допускается, а предоплата не возвращается.<br>

6. Запрещается класть на столы личные вещи (куртки, сумки, головные уборы и т.д.).<br>

7. Клуб не несет ответственности за пропажу вещей на территории клуба<br>

8. В Клубе не производится возврат денег за оплаченную услугу по требованию посетителя, однако, в случае наступления форс-мажорных обстоятельств (обстоятельств непреодолимой силы, в том числе временного отключения электричества и т.д.), приведших к её неоказанию, возможна компенсация в эквивалентном размере.<br>

9. Запрещается Находиться в компьютерном зале Клуба, не оплатив рабочее время за компьютером или не забронировав его на ближайший час.<br>

10. В дневное время запрещается спать за компьютером.<br>

11. В ночное время разрешается находиться только за своим рабочим местом, запрещается сдвигать стулья и спать на них,а также на любых других местах.<br>

12. Доступ к сайтам, содержимое которых противоречит законодательству РФ, запрещается и может быть заблокирован. В спорных случаях окончательное решение о блокировании доступа к тому или иному ресурсу принимается администрацией клуба.<br>

13. Запрещается нецензурно выражаться, оскорблять других посетителей в устной и письменной форме – нарушители будут оштрафованы удалением купленного времени.<br>

14. Запрещается курить(парить и прочее) и распивать алкогольные напитки на территории клуба.<br>

15. Туалет находится внутри помещения, справляющие нужду на улице лишаются оплаченного времени.<br>

16. Клуб работает круглосуточно.<br>

17. С 23-00 до 6-00 клуб работает в ночном режиме. Вход в помещение возможен, а выход во двор запрещен.<br>

18. Клиенты, оплатившие ночь, находятся в клубе с 22-00 до 8-00.<br>

19. Запрещается мусорить в клубе и на прилегающей территории.<br>

20. В ночное время запрещается работа двух людей за одним компьютером. При скоплении большого количества людей администратор вправе удалить всех, кроме тех, кто непосредственно находится за компьютером.<br>

21. Если в результате действий клиента клуб понес материальный ущерб, то клиент обязан полностью компенсировать этот ущерб.<br>

22. Файлы клиентов на компьютерах клуба сохраняются до окончания арендованного времени. Дальнейшая их сохранность не гарантируется.<br>

23. Клуб не несет ответственности за функционирование серверов в интернете и ошибки в используемом программном обеспечении.<br>

24. Клиент обязан выполнять указания администратора, касающиеся соблюдения настоящих правил, правил безопасности и технических условий эксплуатации компьютера.<br>

25. Администратор обязан оказывать помощь клиенту в случае возникновения технических проблем. Администратор не обязан обучать клиента работе с компьютером, а также работе с конкретными программами и играми.<br>

26. Клиент не имеет право: самостоятельно передвигать мониторы, системные блоки, разъединять составные части компьютера и сети, прикасаться к элементам электросети, питающей компьютеры и сетевые устройства.<br>

27. Клиент не имеет права изменять настройки операционной системы, устанавливать и удалять программы, осуществлять иное несанкционированное вмешательство в работу компьютера и сети.<br>

28. Настоящие правила могут быть дополнены администрацией клуба.<br>
</main>
<footer>
    Главное, просто наслаждайтесь своим досугом
    <br>
    <a class = "button" href="{% url 'home' %}">Home</a>
<br>
<!--    {% for post in pr %}-->
<!--    {{ post.id }}-->
<!--    {% endfor %}-->
</footer>
</body>
</html>